<section class="advantages container">
	<h2 class="visually-hidden" hidden>advantages</h2>
	<ul class="advantages-list">
		<div class="advantages-container">
			<li class="advantages-general-icon">
				<svg class="advantages-list-icon" width="28" height="28">
					<use href="/img/advantages-symbol-defs.svg#advanteges-icon-Vector"></use>
				</svg>
			</li>
			<h3 class="advantages-title">Unsurpassed taste</h3>
			<p class="advantages-description">
				Crafted with the finest quality cocoa beans and a dedication to perfection, each bite is a decadent experience
				that simply cannot be matched. Savor the richness and complexity of our Unsurpassed Taste and discover a new
				level of chocolate bliss.
			</p>
		</div>
		<div class="advantages-container">
			<li class="advantages-general-icon">
				<svg class="advantages-list-icon" width="26.67" height="26.67">
					<use href="/img/advantages-symbol-defs.svg#advanteges-icon-Vector-1"></use>
				</svg>
			</li>
			<h3 class="advantages-title">Affordable price</h3>
			<p class="advantages-description">
				Indulge in high-quality chocolate without breaking the bank with Simply Chocolate's selection of affordable
				treats. Enjoy mouth-watering truffles and velvety chocolate bars without sacrificing taste or quality. Browse
				our selection and indulge in affordable luxury today.
			</p>
		</div>
		<div class="advantages-container">
			<li class="advantages-general-icon">
				<svg class="advantages-list-icon" width="27.64" height="27.64">
					<use href="/img/advantages-symbol-defs.svg#advanteges-icon-Vector-2"></use>
				</svg>
			</li>
			<h3 class="advantages-title">Own production</h3>
			<p class="advantages-description">
				We take pride in our own production process, ensuring that every step is carefully crafted to perfection. From
				selecting the finest ingredients to handcrafting each piece, our attention to detail is evident in every bite.
			</p>
		</div>
	</ul>
</section>
