<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="/src/css/styles.css" />
		<link rel="stylesheet" href="/src/css/footer.css" />
	</head>
	<footer id="footer-pages">
		<div class="container">
			<div class="adopt">
				<h1 class="footer-choco">
					<samp class="choco">Chocolate</samp>
					a delicious cure for a bad day
				</h1>
				<div class="social-link">
					<address>
						<ul class="list">
							<li>
								<h2 class="footer-maintext">Contact us</h2>
							</li>
							<li>
								<a class="adress" href="tel:++380684439426">+380 (68) 443-94-26</a>
							</li>
							<li>
								<a class="adress" href="mailto:simplychoc@gmail.com">simplychoc@gmail.com</a>
							</li>
						</ul>
					</address>
					<ul class="social">
						<li class="social-li">
							<a href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
								<svg class="svg-soc inst" width="22" height="22">
									<use href="/img/icon/icons.svg#icon-instagram-mobile-22"></use>
								</svg>
							</a>
						</li>
						<li class="social-li">
							<a href="https://twitter.com" target="_blank" rel="noopener noreferrer">
								<svg class="svg-soc twit" width="22" height="22">
									<use href="/img/icon/icons.svg#icon-twitter-mobile-20"></use>
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<hr />
			<ul class="yank">
				<li><a class="yak-link" href="#">Home</a></li>
				<li><a class="yak-link" href="#how-its-made-page">How it’s made?</a></li>
				<li><a class="yak-link" href="#">Our products</a></li>
				<li><a class="yak-link" href="#">Top sellers</a></li>
				<li><a class="yak-link" href="#reviews-pages">Chocolate is loved</a></li>
			</ul>
		</div>
	</footer>
</html>
