<header class="">
	<div class="flex-container">
		<nav class="nav">
			<a class="header-logo-link logo list" href="./index.html">
				SIMPLY
				<span class="logo-part-two">CHOCOLATE</span>
				<svg class="social-ikon" width="24" height="24" aria-label="social-ikons">
					<use href="./img/icon/icons.svg#icon-chocolate-logo-24"></use>
				</svg>
			</a>
			<ul class="menu-list link">
				<li class="header-list">
					<a class="link" href="./index.html">Home</a>
				</li>
				<li class="header-list">
					<a class="link" href="#">How it’s made?</a>
				</li>
				<li class="header-list">
					<a class="link" href="#">Our products</a>
				</li>
				<li class="header-list">
					<a class="link" href="#">Top sellers</a>
				</li>
				<li class="header-list">
					<a class="link" href="#">Chocolate is loved</a>
				</li>
			</ul>
		</nav>
		<ul class="networks-menu">
			<li class="link">
				<a href="" class="">
					<svg class="icon-tools" width="24" height="24" aria-label="">
						<use href="./img/icon/icons.svg#icon-instagram-d-t-24"></use>
					</svg>
				</a>
			</li>
			<li class="link">
				<a href="" class="">
					<svg class="" width="24" height="24" aria-label="social-ikons">
						<use href="./img/icon/icons.svg#icon-twitter-d-t-24"></use>
					</svg>
				</a>
			</li>
		</ul>
	</div>
	<button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false">
		<svg class="mobile-menu-open-icon" aria-label="menu">
			<use href="../img/icon/icons.svg#icon-menu-mobile-28"></use>
		</svg>
	</button>
	<load src="./mobile-menu.html" />
</header>
