<header class="header">
	<nav class="nav"></nav>
	<button type="button" class="mobile-menu-open js-open-menu" aria-expanded="false">
		<svg class="mobile-menu-open-icon" aria-label="menu">
			<use href="./images/icons.svg#icon-menu-mobile-28"></use>
		</svg>
	</button>
	<div class="mobile-menu js-menu-container">
		<div class="mobile-menu-container">
			<button type="button" class="menu-close js-close-menu">
				<svg class="menu-close-icon" aria-label="menu close button">
					<use href="./images/icons.svg#icon-close"></use>
				</svg>
			</button>
			<ul class="mobile-nav list">
				<li class="mobile-navi line">
					<a class="mobile-navi-link line link" href="./index.html">Home</a>
				</li>
				<li class="mobile-navi">
					<a class="mobile-navi-link link" href="./portfolio.html">How it’s made?</a>
				</li>
				<li class="mobile-navi">
					<a class="mobile-navi-link link" href="">Our products</a>
				</li>
				<li class="mobile-navi">
					<a class="mobile-navi-link link" href="">Top sellers</a>
				</li>
				<li class="mobile-navi">
					<a class="mobile-navi-link link" href="">Chocolate is loved</a>
				</li>
			</ul>
			<div class="menu-social-media">
				<ul class="mob-ic-list list">
					<li class="social-ic-list-li">
						<a href="" class="social-ic-link link">
							<svg width="24" height="24" class="social-icon instagram">
							<use href="./images/icons.svg#icon-instagram-mobile-22"></use>
							</svg>
						</a>
					</li>
					<li class="social-ic-list-li">
						<a href="" class="social-ic-link link">
							<svg width="24" height="24" class="social-icon twitter">
								<use href="./images/icons.svg#icon-twitter-mobile-20"></use>
							</svg>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</header>


<script defer src="https://cdnjs.cloudflare.com/ajax/libs/body-scroll-lock/3.1.5/bodyScrollLock.min.js" integrity="sha512-HowizSDbQl7UPEAsPnvJHlQsnBmU2YMrv7KkTBulTLEGz9chfBoWYyZJL+MUO6p/yBuuMO/8jI7O29YRZ2uBlA==" crossorigin="anonymous"></script>
<script src="./js/mobile-menu.js"></script>
