<section class="hero" id="hero-page">
	<div class="container hero-container-img">
		<div class="hero-container">

			<h1 class="visually-hidden">Hero</h1>
			<h2 class="hero-title">
				Treat yourself or a loved one to
				our finest ingredients for a moment
				of pure delight!</h2>

			<div class="container-hero-btn-list">
				<ul class="hero-btn-list">
					<li class="hero-btn-list-item">
						<button class="hero-btn-buy-now" data-modal-open="modal-1">Buy now</button>
					</li>
					<li class="hero-btn-list-item">
						<a href="#how-its-made-page" class="hero-btn-how-it">How it&#8217;s made</a>
					</li>
				</ul>
				<div class="btn-list-item">
					<a href="#footer-page" class="hero-btn-scroll">
						scroll down
						<span class="hero-btn-list-item-icon-container">
							<svg class="hero-btn-list-item-icon">
								<use href="/img/icon/icons.svg#scroll-down-16" class="abc"></use>
							</svg>
						</span>
					</a>
				</div>
			</div>


		</div>
	</div>
</section>