<section>
	<h1>HERO</h1>
	<ul>
		<li>
			Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi labore
			molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius sapiente
			officiis!Lorem
		</li>
		<li>
			Lorem
			<svg width="32" height="32">
				<use href="../img/subscribe-img"></use>
			</svg>
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
		<li>
			Lorem Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto odio alias necessitatibus soluta eligendi
			labore molestiae eveniet voluptatem esse nihil eaque expedita aspernatur aliquid, nobis ducimus. Soluta eius
			sapiente officiis!Lorem
		</li>
	</ul>
</section>
