<section class="hero">
  <div class="container hero-container-img">
    <div class="hero-container">
      <h1 class="hero-title">
        Treat yourself or a loved one to
        our finest ingredients for a moment
        of pure delight!
      </h1>
      <ul class="hero-btn-list">
        <li><button class="hero-btn-buy-now">Buy now</button></li>
        <li><button class="hero-btn-how-it">How it&#8217;s made</button></li>
        <li>
          <button class="hero-btn-scroll">
            scroll down
            <svg>
              <use></use>
            </svg>
          </button>
        </li>
      </ul>
    </div>



  </div>
</section>