<section class="how-its-made" id="how-its-made-page">
	<div class="div-how-its-made container">
		<h2 class="title-how-its-made">
			HOW IT’S
			<span class="span-title">MADE?</span>
		</h2>
		<div class="div-him">
			<div class="pictures-how-its-made">
				<picture class="img-how-its-made" id="how-its-made-content-image">
					<source
						srcset="./img/how-its-made/how-its-made-desktop.webp 1x, ./img/how-its-made/how-its-made-desktop@2x.webp 2x"
						media="(min-width: 1200px)"
					/>
					<source
						srcset="./img/how-its-made/how-its-made-tablet.webp 1x, ./img/how-its-made/how-its-made-tablet@2x.webp 2x"
						media="(min-width: 768px)"
					/>
					<source
						srcset="./img/how-its-made/how-its-made-mobile.webp 1x, ./img/how-its-made/how-its-made-mobile@2x.webp 2x"
						media="(min-width: 280px)"
					/>
					<img src="./img/how-its-made/how-its-made-tablet.webp" alt="picture chocolate" />
				</picture>
				<div class="how-its-made-play-button" id="how-its-made-play-button">
					<button type="button" class="video-play-button" aria-label="play video"></button>
				</div>
				<div id="video-loading-circle-container" hidden>
					<div class="video-loading-circle"></div>
				</div>
				<div id="how-its-made-video-player"></div>
			</div>

			<div class="section-instruction">
				<h3 class="title-instruction">Try our chocolates today and discover the perfect balance of flavor</h3>
				<ul class="instruction-list">
					<li class="instruction-item">
						<p class="instruction-item-text">
							Heat the milk in a saucepan without bringing it to a boil. Add sugar and cocoa powder.
						</p>
					</li>
					<li class="instruction-item">
						<p class="instruction-item-text">At the same time, prepare a water bath. Melt the butter on it.</p>
					</li>
					<li class="instruction-item">
						<p class="instruction-item-text">
							"Mix" the milk mixture and already liquid butter. Mix thoroughly with a silicone spatula so that the mass
							becomes uniform and silky.
						</p>
					</li>
					<li class="instruction-item">
						<p class="instruction-item-text">Heat the mixture over low heat, letting it barely boil.</p>
					</li>
					<li class="instruction-item">
						<p class="instruction-item-text">
							Pour the chocolate into special containers (can be replaced with ice molds). Allow to cool and harden.
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
