<div class="overlay is-hidden" data-modal="modal-4">
	<!-- LOGN IN FORM by Omar Dsoky -->
	<form class="login-form">
		<!--   con = Container  for items in the form-->
		<div class="con">
			<!--     Start  header Content  -->
			<div class="head-form">
				<h2>Log In</h2>
				<!--     A welcome message or an explanation of the login form -->
				<p>login here using your username and password</p>
			</div>
			<!--     End  header Content  -->
			<br />
			<div class="field-set">
				<!--   user name -->
				<span class="input-item">
					<i class="fa fa-user-circle"></i>
				</span>
				<!--   user name Input-->
				<input class="login-form-input" id="txt-input" type="text" placeholder="@UserName" required />

				<br />

				<!--   Password -->

				<span class="input-item">
					<i class="fa fa-key"></i>
				</span>
				<!--   Password Input-->
				<input class="login-form-input" type="password" placeholder="Password" id="pwd" name="password" required />

				<!--      Show/hide password  -->
				<span>
					<button class="fa fa-eye" aria-hidden="true" type="button" id="eye"></button>
				</span>

				<br />
				<!--        buttons -->
				<!--      button LogIn -->
				<button class="btn log-in">Log In</button>
			</div>

			<!--   other buttons -->
			<div class="other">
				<!--      Forgot Password button-->
				<button class="btn submits frgt-pass">Forgot Password</button>
				<!--     Sign Up button -->
				<button class="btn submits sign-up">
					Sign Up
					<!--         Sign Up font icon -->
					<i class="fa fa-user-plus" aria-hidden="true"></i>
				</button>
				<!--      End Other the Division -->
			</div>

			<!--   End Conrainer  -->
		</div>

		<!-- End Form -->
	</form>
	<button class="sub-modal-close-btn" type="button" data-modal-close></button>
</div>
