<div class="mobile-menu js-menu-container">
	<div class="mobile-menu-container">
		<button type="button" class="menu-close js-close-menu">
			<svg class="menu-close-icon" aria-label="menu close button">
				<use href="./images/icons.svg#icon-close"></use>
			</svg>
		</button>
		<ul class="mobile-nav list">
			<li class="mobile-navi line">
				<a class="mobile-navi-link line link" href="./index.html">Home</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link" href="./portfolio.html">How it’s made?</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link" href="">Our products</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link" href="">Top sellers</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link" href="">Chocolate is loved</a>
			</li>
		</ul>
		<div class="menu-social-media">
			<ul class="mob-ic-list list">
				<li class="social-ic-list-li">
					<a href="" class="social-ic-link link">
						<svg width="24" height="24" class="social-icon instagram">
							<use href="./images/icons.svg#icon-instagram-mobile-22"></use>
						</svg>
					</a>
				</li>
				<li class="social-ic-list-li">
					<a href="" class="social-ic-link link">
						<svg width="24" height="24" class="social-icon twitter">
							<use href="./images/icons.svg#icon-twitter-mobile-20"></use>
						</svg>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
