<div class="mobile-menu js-menu-container">
	<div class="mobile-menu-container">
		<button type="button" class="menu-close js-close-menu">
			<svg class="menu-close-icon" aria-label="menu close button">
				<use href="/img/icon/icons.svg#icon-menu-close"></use>
			</svg>
		</button>
		<ul class="mobile-nav list">
			<li class="mobile-navi">
				<a class="mobile-navi-link link menu-box-link" href="#page-header">Home</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link menu-box-link" href="#how-its-made-page">How it’s made?</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link menu-box-link" href="#section-our-product">Our products</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link menu-box-link" href="#top-sellers-page">Top sellers</a>
			</li>
			<li class="mobile-navi">
				<a class="mobile-navi-link link menu-box-link" href="#reviews-page">Chocolate is loved</a>
			</li>
		</ul>
		<div class="menu-social-media">
			<ul class="mob-ic-list list">
				<li class="social-ic-list-li">
					<a
						href="https://www.instagram.com/"
						class="social-ic-link link"
						rel="noopener noreferrer"
						target="_blank"
						aria-label="instagram"
					>
						<svg width="24" height="24" class="social-icon instagram">
							<use href="/img/icon/icons.svg#icon-instagram-menu"></use>
						</svg>
					</a>
				</li>
				<li class="social-ic-list-li">
					<a
						href="https://twitter.com/"
						class="social-ic-link link"
						rel="noopener noreferrer"
						target="_blank"
						aria-label="twitter"
					>
						<svg width="24" height="24" class="social-icon twitter">
							<use href="/img/icon/icons.svg#icon-twitter-menu"></use>
						</svg>
					</a>
				</li>
			</ul>
			<button class="register-btn-mobile" type="button" data-modal-open="modal-4">
				<svg class="icon-login-mobile" width="30" height="30" aria-label="iconlogin">
					<use href="/img/icon/icons.svg#login_account-min"></use>
				</svg>
			</button>
		</div>
	</div>
</div>
