<section id="section-our-product" class="section-our-product">
	<div class="container">
		<h2 class="title-our">
			OUR
			<span class="title-product">PRODUCTS</span>
		</h2>
		<div class="swiper">
			<ul class="swiper-wrapper our-product-ul list">
				<li class="swiper-slide our-product-li" style="width: 270px">

					<img
						class="our-product-img"
						srcset="/img/our-product/dark-chokolate@2x.webp"
						src="/img/our-product/dark-chokolate@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div class="our-product-name">
						<h3 class="our-product-title-orange">ORANGE</h3>
						<p class="our-product-p">Dark chocolate</p>
						<button class="our-product-button" type="button">45 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/apple@2x.webp"
						src="/img/our-product/apple@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">APPLE&CRANBERRY</h3>
						<p class="our-product-p">Milk chocolate</p>
						<button class="our-product-button" type="button">50 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/lime@2x.webp"
						src="/img/our-product/lime@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">lIME&SEA SALT</h3>
						<p class="our-product-p">Dark chocolate</p>
						<button class="our-product-button" type="button">66 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/pineapple@2x.webp"
						src="/img/our-product/pineapple@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">PINEAPPLE</h3>
						<p class="our-product-p">Dark chocolate</p>
						<button class="our-product-button" type="button">54 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/classic@2x.webp"
						src="/img/our-product/classic@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">CLASSIC</h3>
						<p class="our-product-p">Milk chocolate</p>
						<button class="our-product-button" type="button">45 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/honey@2x.webp"
						src="/img/our-product/honey@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">HONEY</h3>
						<p class="our-product-p">Milk chocolate</p>
						<button class="our-product-button" type="button">50 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/roasted@2x.webp"
						src="/img/our-product/roasted@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

	
					<div>
						<h3 class="our-product-title-orange">ROASTED FRUITS</h3>
						<p class="our-product-p">Dark chocolate</p>
						<button class="our-product-button" type="button">66 UAH</button>
					</div>
				</li>
				<li class="swiper-slide our-product-li">

					<img
						class="our-product-img"
						srcset="/img/our-product/classic-white@2x.webp"
						src="/img/our-product/classic-white@1x.webp"
						alt="photo"
						height="201"
						width="230"
						loading="lazy"
					/>

					<div>
						<h3 class="our-product-title-orange">CLASSIC</h3>
						<p class="our-product-p">Milk chocolate</p>
						<button class="our-product-button" type="button">54 UAH</button>
					</div>
				</li>
			</ul>
			<div class="swiper-pagination"></div>
		</div>
	</div>
</section>