<div class="swiper">
	<!-- Additional required wrapper -->
	<div class="swiper-wrapper">
		<!-- Slides -->
		<div class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_first.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>

				<p class="reviews-card-text">
					I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_second.jpg" alt="man" width="80" />

					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>
				<p class="reviews-card-text">
					This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth,
					and the chocolate is good.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_third.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>
				<p class="reviews-card-text">
					Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The
					wafer is soft but crunchy.
				</p>
			</div>
		</div>
		<div class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_first.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>

				<p class="reviews-card-text">
					I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
				</p>
			</div>
		</div>
	</div>
	<!-- If we need pagination -->
	<div class="swiper-pagination"></div>
</div>
