<div class="backdrop is-hidden" review-modal>
	<div class="review-modal">
		<button type="button" class="modal-close-but" review-modal-close>
			<svg class="modal-close-icon-but">
				<use href="/img/icon/icons.svg#icon-x-close-modal"></use>
			</svg>
		</button>
		<h2 class="review-modal-title">leave a review about<span class="reviews-title-span"> our chocolate</span>
		</h2>
		<form class="review-form">
			<div class="form-inputs">
				<input type="text" class="info-input" placeholder="Name" id="client-name" name="client-name" />
			</div>
			<div class="form-inputs">
				<input type="email" class="info-input" placeholder="Enter your email" id="client-email" name="client-email"/>
			</div>
			<div class="phone-number">
				<input type="tel" class="info-input input-phone-number" placeholder="Phone number" id="client-phone-number" name="client-phone-number"/>
				<div class="ukraine-phone">
					<svg class="ukraine-phone-icon">
						<use href="/img/icon/icons.svg#icon-ukraine"></use>
					</svg>
					<span>+380</span>
				</div>
			</div>
			<textarea class="info-input comment-textarea" name="purchase-comment" id="purchase-comment" placeholder="Enter text"></textarea>
			<button type="button" class="btn-send">Send</button>
		</form>
	</div>
</div>