<div class="swiper" data-aos="zoom-in" data-aos-duration="2000">
	<!-- Additional required wrapper -->
	<!-- <div class="swiper-wrapper"> -->
	<!-- Slides -->
	<ul class="swiper-wrapper">
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_first.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>

				<p class="reviews-card-text">
					I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_second.jpg" alt="man" width="80" />
					<figcaption class="reviewer-name">Nazar Babenko</figcaption>
				</figure>
				<p class="reviews-card-text">
					This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth,
					and the chocolate is good.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_third.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Olena Kampusch</figcaption>
				</figure>
				<p class="reviews-card-text">
					Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The
					wafer is soft but crunchy.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_forth.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Natalia Sus</figcaption>
				</figure>

				<p class="reviews-card-text">
					The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the
					sweetness level.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_fifth.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Danilo Nottingham</figcaption>
				</figure>

				<p class="reviews-card-text">
					This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond
					butter and these chips for a snack.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<img class="reviewer-photo" src="./img/reviews-image/reviewer_sixth.jpg" alt="woman" width="80" />
					<figcaption class="reviewer-name">Irina Tydnyuk</figcaption>
				</figure>

				<p class="reviews-card-text">
					This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local
					chocolate - world class
				</p>
			</div>
		</li>
	</ul>

	<!-- If we need pagination -->
	<div class="reviews-swiper-pagination"></div>
</div>
