<div class="swiper" data-aos="zoom-in" data-aos-duration="2000">
	<!-- Additional required wrapper -->
	<!-- <div class="swiper-wrapper"> -->
	<!-- Slides -->
	<ul class="swiper-wrapper">
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_first@2x.webp 1x, ./img/reviews-image/reviewer_first@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-first.jpg 1x, ./img/reviews-image/reviewers-first@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_first.jpg" alt="woman" />
					</picture>
					<figcaption class="reviewer-name">Victoria Dobrzhanska</figcaption>
				</figure>

				<p class="reviews-card-text">
					I love this chocolate bar. Perfect combination of light crispy wafer, covered in a thin layer chocolate.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_second@2x.webp 1x, ./img/reviews-image/reviewer_second@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-second.jpg 1x, ./img/reviews-image/reviewers-second@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_second.jpg" alt="man" />
					</picture>
					<figcaption class="reviewer-name">Nazar Babenko</figcaption>
				</figure>
				<p class="reviews-card-text">
					This chocolate confection is a delight! A delight! The wafer is light and crisp, the hazelnut cream is smooth,
					and the chocolate is good.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_third@2x.webp 1x, ./img/reviews-image/reviewer_third@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-third.jpg 1x, ./img/reviews-image/reviewers-third@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_third.jpg" alt="woman" />
					</picture>
					<figcaption class="reviewer-name">Olena Kampusch</figcaption>
				</figure>
				<p class="reviews-card-text">
					Chocolate is a family favourite treat. Love the delicious smooth chocolate and the creaminess inside. The
					wafer is soft but crunchy.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_forth.webp 1x, ./img/reviews-image/reviewer_forth@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-forth.jpg 1x, ./img/reviews-image/reviewers-forth@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_forth.jpg" alt="woman" />
					</picture>
					<figcaption class="reviewer-name">Natalia Sus</figcaption>
				</figure>

				<p class="reviews-card-text">
					The chocolate assortment was delicious. Both dark and milk chocolate pieces were smooth and just right on the
					sweetness level.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_fifth@2x.webp 1x, ./img/reviews-image/reviewer_fifth@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-fifth.jpg 1x, ./img/reviews-image/reviewers-fifth@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_fifth.jpg" alt="man" />
					</picture>
					<figcaption class="reviewer-name">Danilo Nottingham</figcaption>
				</figure>

				<p class="reviews-card-text">
					This is delicious. It so rich and flavorful you don’t need to use as many. I love topping an apple with almond
					butter and these chips for a snack.
				</p>
			</div>
		</li>
		<li class="swiper-slide">
			<div class="reviews-card">
				<figure class="reviewer">
					<picture class="reviewer-photo-picture">
						<source
							srcset="./img/reviews-image/reviewer_sixth@2x.webp 1x, ./img/reviews-image/reviewer_sixth@2x.webp 2x"
							type="image/webp"
						/>
						<source
							srcset="./img/reviews-image/reviewer-sixth.jpg 1x, ./img/reviews-image/reviewers-sixth@2x.jpg 2x"
							type="image/jpeg"
						/>
						<img class="reviewer-photo" width="80" src="./img/reviews-image/reviewer_sixth.jpg" alt="woman" />
					</picture>
					<figcaption class="reviewer-name">Irina Tydnyuk</figcaption>
				</figure>

				<p class="reviews-card-text">
					This is simply the best chocolate around, and I'm just thrilled to support a local company! Best local
					chocolate - world class
				</p>
			</div>
		</li>
	</ul>

	<!-- If we need pagination -->
	<div class="reviews-swiper-pagination"></div>
</div>
