<section class="subscribe">
    <div class="container">
    <h2 class="subscribe-title">EXPLORE OUR NEW CHOCOLATE FIRST</h2>
    <p class="subscribe-suptitle">From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave you
    craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work of art
    that is sure to please.</p>
    <button  class="subscribe-modal-opn-btn" type="button" name="Subscribe">Subscribe</button>
</div>
</section>
<div class="subscribe-backdrop is-hidden">
    <div class="subscribe-modal">
        <button class="sub-modal-close-btn" type="button">
            <!-- <svg>
                <use>

                </use>
            </svg> -->
        </button>
    </div>
    <div class="subscribe-modal-form">
        <h2 class="sub-modal-title">EXPLORE OUR <span class="sub-modal-accent-title">NEW CHOCOLATE</span> FIRST!</h2>
        <form>
        <label for="user_email"></label>
            <input 
            type="email"
            name="email"
            id="user_email"
            placeholder="Enter your email"
            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
            <button type="button">Submit</button>
            </div>
        </form>
    </div>
        