<section class="subscribe" id="subscribe-page">
	<div class="container">
		<h2 class="subscribe-title" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
			EXPLORE OUR NEW CHOCOLATE FIRST
		</h2>
		<p class="subscribe-suptitle" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="1500">
			From the velvety texture to the rich and complex flavor, our New Chocolate is a true indulgence that will leave
			you craving more. Made with only the finest ingredients and handcrafted with the utmost care, each piece is a work
			of art that is sure to please.
		</p>
		<button
			class="subscribe-modal-opn-btn"
			type="button"
			name="Subscribe"
			data-modal-open="modal-3"
			data-aos="fade-up"
			data-aos-easing="linear"
			data-aos-duration="1000"
		>
			Subscribe
		</button>
	</div>
</section>
