<section class="unique" id="unique-page">
	<div class="unique-container container">
		<h2
			class="unique-header aos-init aos-animate"
			data-aos="flip-left"
			data-aos-easing="ease-out-cubic"
			data-aos-duration="1500"
		>
			IT ALL ADDS UP TO ONE EXCEPTIONAL
			<span class="color-taste">TASTE</span>
			SENSATION
		</h2>
		<p
			class="unique-paragraf aos-init aos-animate"
			data-aos="flip-left"
			data-aos-easing="ease-out-cubic"
			data-aos-duration="1500"
		>
			At Simply Chocolate, we believe that the secret to exceptional chocolate is in the details. From the sourcing of
			the finest ingredients to the careful crafting of each individual piece, every step of our process adds up to one
			exceptional taste sensation.
		</p>
		<ul class="unique-list list">
			<li class="unique-list-item aos-init" data-aos="zoom-in" data-aos-duration="1500">
				<a href="#" class="unique-card-link link">
					<div class="unique-overlay-img-wrapper unique-color-orange">
						<picture>
							<source
								srcset="
									./img/unique-image/milk-chocolate-disktop.webp    1x,
									./img/unique-image/milk-chocolate-disktop@2x.webp 2x
								"
								media="(min-width:
                      1200px)"
							/>

							<source
								srcset="
									./img/unique-image/milk-chocolate-mob-tab.webp    1x,
									./img/unique-image/milk-chocolate-mob-tab@2x.webp 2x
								"
								media="(min-width:
                      320px)"
							/>

							<img src="./images/milk-chocolate-mob-tab.png" alt="milk chocolate" />
						</picture>
						<p class="unique-name">MILK CHOCOLATE</p>
					</div>
				</a>
				<div class="unique-overlay">
					<p class="unique-heder-overlay">MILK CHOCOLATE</p>
					<div class="unique-btns-overlay">
						<button type="button" class="unique-btn-overlay"><span class="unique-btn-name">chocolate</span></button>
						<button type="button" class="unique-btn-overlay">
							<span class="unique-btn-name">the benefits</span>
						</button>
					</div>
					<p class="unique-paragraf-descrabe">
						Milk chocolate is a solid chocolate confectionery containing cocoa, sugar and milk. It is the most consumed
						type of chocolate. Chocolate was originally sold and consumed as a beverage in pre-Columbian times. Although
						four-fifths of all milk chocolate is sold in the United States and Europe.
					</p>
				</div>
			</li>

			<li class="unique-list-item aos-init" data-aos="zoom-in" data-aos-duration="1500">
				<a href="#" class="unique-card-link link">
					<div class="unique-overlay-img-wrapper unique-color-white">
						<picture>
							<source
								srcset="./img/unique-image/milk-desktop.jpg 1x, ./img/unique-image/milk-desktop@2x.jpg 2x"
								media="(min-width: 1200px)"
							/>
							<source
								srcset="./img/unique-image/milk-mob-tab.jpg 1x, ./img/unique-image/milk-mob-tab@2x.jpg 2x"
								media="(min-width:
                      320px)"
							/>
							<img class="unique-photo" src="./img/unique-image/milk-desktop.jpg" alt="milk" />
						</picture>
						<p class="unique-name"><span class="unique-name unque-name-color-black">MILK</span></p>
					</div>
				</a>
				<div class="unique-overlay">
					<p class="unique-heder-overlay">MILK</p>
					<div class="unique-btns-overlay">
						<button type="button" class="unique-btn-overlay"><span class="unique-btn-name">milk</span></button>
						<button type="button" class="unique-btn-overlay">
							<span class="unique-btn-name">the benefits</span>
						</button>
					</div>
					<p class="unique-paragraf-descrabe">
						Milk is a white liquid food produced by the mammary glands of mammals. It is the primary source of nutrition
						for young mammals (including breastfed human infants) before they are able to digest solid
						food.Early-lactation milk, which is called colostrum, contains antibodies that strengthen the immune system.
					</p>
				</div>
			</li>

			<li class="unique-list-item aos-init" data-aos="zoom-in" data-aos-duration="1500">
				<a href="#" class="unique-card-link link">
					<div class="unique-overlay-img-wrapper unique-color-black">
						<picture>
							<source
								srcset="./img/unique-image/nuts-disktop.png 1x, ./img/unique-image/nuts-disktop@2x.webp 2x"
								media="(min-width:
                      1200px)"
							/>

							<source
								srcset="./img/unique-image/nuts-mob-tab.png 1x, ./img/unique-image/nuts-mob-tab@2x.webp 2x"
								media="(min-width:
                      320px)"
							/>

							<img src="./img/unique-image/nuts-mob-tab.png" alt="nuts" />
						</picture>
						<p class="unique-name">NUTS</p>
					</div>
				</a>
				<div class="unique-overlay">
					<p class="unique-heder-overlay">NUTS</p>
					<div class="unique-btns-overlay">
						<button type="button" class="unique-btn-overlay"><span class="unique-btn-name">nuts</span></button>
						<button type="button" class="unique-btn-overlay">
							<span class="unique-btn-name">the benefits</span>
						</button>
					</div>
					<p class="unique-paragraf-descrabe">
						Almonds, pistachios, and walnuts are some types of nuts that contain healthy nutrients. When eaten as part
						of a nutrient-dense diet, these 9 nuts may offer benefits such as reducing your risk of heart disease.
						They’re a good source of fiber, healthy fats, and plant protein. Plus, they’re great on their own.
					</p>
				</div>
			</li>

			<li class="unique-list-item unique-list-item-last aos-init" data-aos="zoom-in" data-aos-duration="1500">
				<a href="#" class="unique-card-link link">
					<div class="unique-overlay-img-wrapper unique-color-white">
						<picture>
							<source
								srcset="./img/unique-image/semi-disktop.jpg 1x, ./img/unique-image/semi-disktop@2x.jpg 2x"
								media="(min-width:
                      1200px)"
							/>

							<source
								srcset="./img/unique-image/semi-mob-tab.jpg 1x, ./img/unique-image/semi-mob-tab@2x.jpg 2x"
								media="(min-width:
                      320px)"
							/>

							<img src="./img/unique-image/semi-mob-tab.jpg" alt="semi" />
						</picture>
						<p class="unique-name">
							<span class="unique-name unque-name-color-black">SEMI - SWEET CHOCOLATE</span>
						</p>
					</div>
				</a>
				<div class="unique-overlay">
					<p class="unique-heder-overlay">SEMI - SWEET CHOCOLATE</p>
					<div class="unique-btns-overlay">
						<button type="button" class="unique-btn-overlay">
							<span class="unique-btn-name">sweet chocolate</span>
						</button>
						<button type="button" class="unique-btn-overlay">
							<span class="unique-btn-name">the benefits</span>
						</button>
					</div>
					<p class="unique-paragraf-descrabe">
						Semi-sweet chocolate has a cocoa solid content of 35 to 65%. One of the best ways to gain an understanding
						of this type of chocolate is to compare it to a different type of chocolate. Semisweet is darker than milk
						chocolate. In a taste comparison, it has a slightly bitter taste whereas milk chocolate is sweeter.
					</p>
				</div>
			</li>
		</ul>
	</div>
</section>
