/* +++++++++++++++++++++++++MOBILE++++++++++++++++++++ */
.advantages {
	background-color: var(--dark-background);
	padding: 0;
}
/* @media screen and (min-width: 375px) { */
.advantages {
	padding: 20px 0;
}
.advantages-container {
	max-width: 308px;
}
.advantages-item:not(:last-child) {
	padding-bottom: 32px;
}
.advantages-general-icon {
	display: flex;
	/* position: relative; */
	justify-content: center;
	align-items: center;
	width: 62px;
	height: 62px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 365px;
	margin-bottom: 22px;
}

.advantages-title {
	margin-bottom: 18px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	color: var(--white-text);
}
.advantages-description {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.21;
	letter-spacing: -0.02em;
	color: rgba(255, 255, 255, 0.7);
	/* margin-bottom: 20px; */
}
/* +++++++++++++++++++++++++/MOBILE++++++++++++++++++++ */

/* +++++++++++++++++++++++++TABLET++++++++++++++++++++ */
@media screen and (min-width: 768px) {
	.advantages {
		padding-top: 50px;
		padding-bottom: 85px;
	}
	.advantages-description {
		margin-bottom: 0;
	}
	.advantages-list {
		display: flex;
		flex-wrap: wrap;
		gap: 32px 60px;
	}
	.advantages-item:not(:last-child) {
		padding-bottom: 0;
	}
}
/* +++++++++++++++++++++++++/TABLET++++++++++++++++++++ */

/* +++++++++++++++++++++++++DESKTOP++++++++++++++++++++ */
@media screen and (min-width: 1157px) {
	.advantages {
		/* height: 344px; */
		padding-left: 18px;
		padding-right: 18px;
		padding-bottom: 0;
	}
	.advantages-list {
		display: flex;
		flex-wrap: nowrap;
		gap: 70px;
	}
	.advantages-item {
		display: block;
		position: relative;
		/* margin-bottom: 50px; */
	}
	.advantages-item:not(:last-child) {
		padding-bottom: 50px;
	}
	.advantages-item::after {
		content: "";
		position: absolute;
		right: 100%;
		top: 50%;

		width: 124px;
		height: 0px;
		border: 1px solid rgba(255, 255, 255, 0.5);
		transform: rotate(90deg);

		transform: translateY(50%, 50%);
	}
	.advantages-item:first-child::after {
		display: none;
	}
}
/* +++++++++++++++++++++++++/DESKTOP++++++++++++++++++++ */
@media screen {
	html:not(.no-js) {
		[data-aos^="rotate-in"][data-aos^="rotate-in"] {
			backface-visibility: visible;
			transition-property: transform;
			transition-duration: 2s;
		}
		[data-aos="rotate-in"] {
			transform: perspective(2500px) rotateX(100deg);
			&.aos-animate {
				transform: perspective(2500px) rotateX(0);
			}
		}
	}
}
