.page-footer {
	color: var(--white-text);
	background-color: var(--dark-background);
	padding: 32px 0;
}

.footer-choco {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.02em;
	max-width: 300px;
}

.choco-span {
	color: var(--brand-color);
}

.contact-us {
	display: flex;
	justify-content: space-between;
}

.adopt {
	margin-bottom: 32px;
}

.footer-address-item:not(:last-child) {
	margin-bottom: 4px;
}

.footer-maintext {
	font-style: normal;
	font-weight: 500;
	margin-bottom: 14px;
	font-size: 14px;
	line-height: 1.29;
}

.footer-address-link {
	font-family: inherit;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.29;
	transition: color 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-address-link:hover,
.footer-address-link:focus {
	color: var(--brand-color);
}

.footer-social-list {
	display: flex;
	gap: 14px;
}

.svg-soc {
	fill: transparent;
	stroke: var(--white-text);
	transition: stroke 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.footer-social-link:hover .svg-soc,
.footer-social-link:focus .svg-soc {
	stroke: var(--brand-color);
}

.line {
	margin: 0;
	margin-bottom: 32px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.yank-link {
	font-family: inherit;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: -0.02em;
	transition: color 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.yank-link:hover,
.yank-link:focus {
	color: var(--brand-color);
}

.yank-link::after {
	content: "";
	background-color: #fd9222;
	border-radius: 1px;
	width: 0;
	height: 1px;
	left: 0px;
	bottom: -1px;
	display: block;
	transition: width 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.yank-link:hover::after,
.yank-link:focus::after {
	width: 100%;
}

@media screen and (max-width: 767px) {
	.footer-choco {
		margin-bottom: 32px;
	}
	.yank-item:not(:last-child) {
		margin-bottom: 18px;
	}

	.yank {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
}

@media screen and (min-width: 768px) {
	.page-footer {
		padding: 50px 0;
	}

	.adopt {
		display: flex;
		gap: 124px;
		margin-bottom: 50px;
	}

	.contact-us {
		gap: 50px;
	}

	.footer-choco {
		font-size: 28px;
		line-height: 1.21;
	}

	.footer-social-list {
		gap: 18px;
	}

	.svg-soc {
		transform: scale(1.09);
	}

	.yank {
		display: flex;
		gap: 24px;
	}

	.line {
		margin-bottom: 24px;
	}
}

@media screen and (min-width: 1200px) {
	.adopt {
		justify-content: space-between;
		margin-bottom: 62px;
	}

	.contact-us {
		gap: 62px;
	}
}

.footer-social-link {
	display: block;
}
