.flex-container {
	display: flex;
	align-items: baseline;
}

.nav {
	display: flex;
	align-items: baseline;
	gap: 216px;
}

.header-logo-link {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 700;
	font-size: 18px;
	line-height: 20px;
	letter-spacing: -0.03em;
	color: var(--dark-text);
	position: relative;
	display: flex;
	align-items: center;
	gap: 4px;
}

.logo-part-two {
	font-style: normal;
	color: var(--dark-text);
}

.logo-icon {
	position: absolute;
	top: -1px;
	right: -25px;
}

.mobile-menu-open {
	width: 28px;
	height: 28px;
	border: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

/*Mobile menu*/
@media screen and (max-width: 1199px) {
	.page-header .flex-container {
		justify-content: space-between;
		padding-top: 20px;
		padding-bottom: 14px;
	}

	.menu-list {
		display: none;
	}
	.networks-menu {
		display: none;
	}
}

/*Mobile menu button*/
.mobile-menu-open {
	width: 28px;
	height: 28px;
	border: none;
	background-color: transparent;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mobile-menu-open-icon {
	width: 21px;
	height: 14px;
	fill: transparent;
	stroke: var(--dark-text);
	transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-open:is(:hover, :focus) > .mobile-menu-open-icon {
	stroke: var(--brand-color);
}

@media screen and (min-width: 768px) {
	.mobile-menu-open-icon {
		width: 24px;
		height: 16px;
	}
}

@media screen and (min-width: 1200px) {
	.mobile-menu-open {
		display: none;
	}

	.flex-container {
		align-items: center;
		justify-content: space-between;
	}

	.menu-link {
		display: block;
		padding-top: 24px;
		padding-bottom: 32px;
		color: #111111;
		cursor: pointer;
		transition: color 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
	}

	.menu-link::after {
		content: "";
		background-color: #fd9222;
		border-radius: 1px;
		width: 0;
		height: 1px;
		left: 0px;
		bottom: -1px;
		display: block;
		transition: width 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
	}

	.menu-link:hover::after,
	.menu-link:focus::after {
		width: 100%;
	}

	.menu-link:hover,
	.menu-link:focus {
		color: var(--brand-color);
		border-bottom: var(--brand-color) 1px solid;
	}

	.menu-list {
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 16px;
		display: flex;
		align-items: center;
		letter-spacing: -0.02em;
		color: var(--dark-text);
		gap: 24px;
	}

	.networks-menu {
		display: flex;
		gap: 18px;
	}

	.networks-menu-link {
		display: block;
	}

	.logo-icon {
		width: 24px;
		height: 24px;
		right: -28px;
	}

	.social-icons {
		fill: transparent;
		stroke: var(--dark-text);
		transition: stroke 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67), transform 500ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
	}

	.networks-menu-link:hover .social-icons,
	.networks-menu-link:focus .social-icons {
		stroke: var(--brand-color);
	}
}
