.how-its-made {
	background-color: var(--light-background);
}

.title-how-its-made {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.03em;
	color: #111111;
}

.span-title {
	color: #fd9222;
}

.title-instruction {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #111111;
}

.section-instruction {
	background-color: #ffffff;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

.instruction-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.02em;
	color: #111111;
}

.instruction-list {
	list-style: disc;
}

.instruction-item::marker {
	color: #4c4c4c;
	border: 1px solid #eceded;
	margin-top: 5px;
}

.pictures {
	margin-left: auto;
	margin-right: auto;
}

@media screen and (max-width: 767px) {
	.title-how-its-made {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 32px;
	}

	.title-instruction {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-top: 20px;
		margin-left: 14px;
	}

	.instruction-item {
		padding-bottom: 18px;
		margin-left: 30px;
		padding-right: 14px;
	}

	.instruction-item:last-child {
		padding-bottom: 20px;
	}

	.div-him {
		padding-bottom: 72px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.title-how-its-made {
		margin-bottom: 50px;
	}

	.section-instruction {
		width: 614px;
	}

	.title-instruction {
		width: 350px;
		padding-top: 32px;
		margin-left: 32px;
		margin-bottom: 28px;
	}

	.instruction-item {
		width: 550px;
		padding-bottom: 18px;
		margin-left: 48px;
		padding-right: 70px;
	}

	.instruction-item:last-child {
		padding-bottom: 32px;
	}

	.pictures {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.div-him {
		padding-bottom: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.div-him {
		display: flex;
		padding-bottom: 128px;
	}

	.title-how-its-made {
		margin-bottom: 50px;
	}

	.section-instruction {
		width: 516px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-left: 20px;
	}

	.title-instruction {
		width: 350px;
		margin-bottom: 28px;
		margin-top: 32px;
		margin-left: 32px;
	}

	.instruction-item {
		width: 425px;
		padding-bottom: 24px;
		margin-left: 48px;
	}

	.instruction-item:last-child {
		padding-bottom: 34px;
	}
}
