.how-its-made {
	background-color: var(--light-background);
}

.title-how-its-made {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.03em;
	color: #111111;
}

.span-title {
	color: var(--brand-color);
}

.title-instruction {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #111111;
}

.section-instruction {
	background-color: #ffffff;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

.instruction-item {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.02em;
	color: #111111;
}

.instruction-list {
	list-style: disc;
}

.instruction-item::marker {
	color: #4c4c4c;
	border: 1px solid #eceded;
	margin-top: 5px;
}

.img-how-its-made {
	margin-left: auto;
	margin-right: auto;
}

.pictures-how-its-made {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	line-height: 0px;
}

.how-its-made-play-button {
	width: 44px;
	height: 44px;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
}

.how-its-made-play-button:hover {
	border: 1px solid var(--brand-color);
	transition: border 250ms;
}

.how-its-made-play-button:focus {
	outline: none;
	border: 1px solid var(--brand-color);
	transition: border 250ms;
}

.pictures-how-its-made .how-its-made-play-button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}

.video-play-button {
	margin-left: 8px;
	border-style: solid;
	border-width: 10px 0 10px 21px;
	border-color: transparent transparent transparent #ffffff;
}

.how-its-made-play-button:hover > .video-play-button,
.how-its-made-play-button:focus > .video-play-button {
	border-color: transparent transparent transparent var(--brand-color);
	transition: border-color 250ms;
}

#how-its-made-video-player {
	display: none;
}

@media screen and (max-width: 767px) {
	.title-how-its-made {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 32px;
	}

	.title-instruction {
		margin-top: 20px;
		margin-bottom: 20px;
		padding-top: 20px;
		margin-left: 14px;
	}

	.instruction-item {
		padding-bottom: 18px;
		margin-left: 30px;
		padding-right: 14px;
	}

	.instruction-item:last-child {
		padding-bottom: 20px;
	}

	.div-him {
		padding-bottom: 72px;
	}

	#how-its-made-video-player {
		width: 335px;
		height: 500px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.title-how-its-made {
		margin-bottom: 50px;
	}

	.section-instruction {
		width: 614px;
	}

	.title-instruction {
		width: 350px;
		padding-top: 32px;
		margin-left: 32px;
		margin-bottom: 28px;
	}

	.instruction-item {
		width: 550px;
		padding-bottom: 18px;
		margin-left: 48px;
		padding-right: 70px;
	}

	.instruction-item:last-child {
		padding-bottom: 32px;
	}

	.pictures-how-its-made {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.div-him {
		padding-bottom: 100px;
		width: 614px;
		margin-right: auto;
		margin-left: auto;
	}

	#how-its-made-video-player {
		width: 614px;
		height: 400px;
	}
}

@media screen and (min-width: 1200px) {
	.div-him {
		display: flex;
		padding-bottom: 128px;
	}

	.title-how-its-made {
		margin-bottom: 50px;
	}

	.section-instruction {
		width: 516px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-left: 20px;
	}

	.title-instruction {
		width: 350px;
		margin-bottom: 28px;
		margin-top: 32px;
		margin-left: 32px;
	}

	.instruction-item {
		width: 425px;
		padding-bottom: 24px;
		margin-left: 48px;
	}

	.instruction-item:last-child {
		padding-bottom: 34px;
	}

	#how-its-made-video-player {
		width: 600px;
		height: 400px;
	}
}
