.how-its-made {
	background-color: var(--light-background);
}

.title-how-its-made {
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height: 1.17;
	letter-spacing: -0.03em;
	color: #111111;
}

.span-title {
	color: var(--brand-color);
}

.title-instruction {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	color: #111111;
}

.section-instruction {
	background-color: #ffffff;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
}

.instruction-item-text {
	font-weight: 400;
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.02em;
	color: #111111;
}

.instruction-item {
	list-style: disc;
	line-height: 0px;
}

.img-how-its-made {
	margin-left: auto;
	margin-right: auto;
}

.pictures-how-its-made {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
	border-radius: 15px;
	overflow: hidden;
	position: relative;
	line-height: 0px;
}

.how-its-made-play-button {
	width: 44px;
	height: 44px;
	border-radius: 50px;
	border: 1px solid #ffffff;
	background-color: rgba(0, 0, 0, 0);
	display: inline-block;
}

.how-its-made-play-button:hover {
	border: 1px solid var(--brand-color);
	transition: border 250ms;
}

.how-its-made-play-button:focus {
	outline: none;
	border: 1px solid var(--brand-color);
	transition: border 250ms;
}

#video-loading-circle-container {
	width: 45px;
	height: 45px;
}

.video-loading-circle {
	height: 100%;
	width: 100%;
	right: 0px;
	position: absolute;
	border: solid 3px #ffffff;
	border-top-color: var(--brand-color);
	border-radius: 50%;
	caret-color: transparent;

	transform: rotate(135deg);
	animation: spin 1.3s steps(2) 0.2s infinite;
	-webkit-animation: spin 1.3s linear infinite;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.pictures-how-its-made .how-its-made-play-button,
#video-loading-circle-container {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	cursor: pointer;
}

#how-its-made-video-player {
	display: none;
}

.video-play-button {
	margin: 10px 0 0 13px;
	border-style: solid;
	border-width: 10px 0 10px 21px;
	background: none;
	border-color: transparent transparent transparent #ffffff;
}

.how-its-made-play-button:hover > .video-play-button,
.how-its-made-play-button:focus > .video-play-button {
	border-color: transparent transparent transparent var(--brand-color);
	transition: border-color 250ms;
}

@media screen and (max-width: 767px) {
	.section-instruction {
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 14px;
	}

	.pictures-how-its-made {
		margin-bottom: 20px;
	}

	.title-how-its-made {
		font-size: 20px;
		line-height: 1.2;
		margin-bottom: 32px;
	}

	.title-instruction {
		margin-bottom: 20px;
		margin-left: 14px;
	}

	.instruction-item {
		margin-bottom: 18px;
		margin-left: 30px;
	}

	.instruction-item:last-child {
		margin-bottom: 0;
	}

	.how-its-made {
		padding-bottom: 72px;
	}

	#how-its-made-video-player {
		width: 335px;
		height: 500px;
	}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
	.title-how-its-made {
		margin-bottom: 50px;
	}

	.section-instruction {
		width: 614px;
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.title-instruction {
		width: 350px;
		margin-left: 32px;
		margin-bottom: 28px;
	}

	.instruction-item {
		width: 550px;
		margin-bottom: 18px;
		margin-left: 48px;
		padding-right: 70px;
	}

	.instruction-item:last-child {
		margin-bottom: 0px;
	}

	.pictures-how-its-made {
		margin-bottom: 20px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.div-him {
		width: 614px;
		margin-right: auto;
		margin-left: auto;
	}

	#how-its-made-video-player {
		width: 614px;
		height: 400px;
	}

	.how-its-made {
		padding-bottom: 100px;
	}
}

@media screen and (min-width: 1200px) {
	.div-him {
		display: flex;
	}

	.section-instruction {
		width: 516px;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
		margin-left: 20px;
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.title-how-its-made {
		margin-bottom: 50px;
	}

	.title-instruction {
		width: 350px;
		margin-left: 32px;
		margin-bottom: 28px;
	}

	.instruction-item {
		width: 425px;
		margin-bottom: 24px;
		margin-left: 48px;
	}

	.instruction-item:last-child {
		margin-bottom: 0px;
	}

	#how-its-made-video-player {
		width: 600px;
		height: 400px;
	}

	.how-its-made {
		padding-bottom: 128px;
	}
}
