.mobile-menu {
	position: fixed;
	top: 0;
	right: -220px;
	background-color: var(--dark-background);
	width: 220px;
	height: 100%;
	padding-top: 136px;
	padding-left: 50px;
	padding-bottom: 20px;
	opacity: 0;
	pointer-events: none;
	z-index: 3;
	transform: translateX(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
	opacity: 1;
	pointer-events: auto;
	right: 0;
	overflow: scroll;
	transform: translateX(0);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;
	top: 20px;
	right: 20px;
	width: 28px;
	height: 28px;
	border: none;
	cursor: pointer;
}

.menu-close-icon {
	width: 9px;
	height: 9px;
	fill: transparent;
	stroke: var(--white-text);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-close:is(:hover, :focus) > .menu-close-icon {
	stroke: var(--brand-color);
	transform: scale(1.43);
}

.mobile-menu-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.mobile-nav {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
}

.mobile-navi-link {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: -0.02em;
	color: var(--white-text);
	text-transform: capitalize;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-navi-link:is(:hover, :focus) {
	color: var(--brand-color);
}

.mobile-navi-link::after {
	content: "";
	background-color: #fd9222;
	border-radius: 1px;
	width: 0;
	height: 1px;
	left: 0px;
	bottom: -1px;
	display: block;
	transition: width 250ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.mobile-navi-link:hover::after,
.mobile-navi-link:focus::after {
	width: 100%;
}

.menu-social-media {
	display: flex;
	align-items: flex-end;
	gap: 18px;
}

.mob-ic-list {
	/* position: absolute;
	left: 20px;
	bottom: 20px; */
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	margin-left: -30px;
	padding: 0px;
	gap: 18px;
}

.social-ic-link {
	width: 100%;
	height: 100%;
	border-radius: 50%;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icon {
	fill: transparent;
	stroke: var(--white-text);
	transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.instagram {
	width: 22px;
	height: 22px;
}

.twitter {
	width: 20px;
	height: 20px;
}

.social-ic-link:is(:hover, :focus) > .social-icon {
	stroke: var(--brand-color);
}

.register-btn-mobile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: transparent;
}

.icon-login-mobile {
	fill: var(--white-text);
	transition: fill 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.icon-login-mobile:hover,
.icon-login-mobile:focus {
	fill: var(--brand-color);
}

@media screen and (min-width: 768px) {
	.mobile-menu {
		width: 290px;
		padding-left: 85px;
		padding-top: 156px;
	}

	.menu-close {
		top: 24px;
		right: 32px;
		width: 32px;
		height: 32px;
	}

	.menu-close-icon {
		width: 13px;
		height: 13px;
	}

	.mob-ic-list {
		left: 32px;
		bottom: 24px;
	}

	.instagram {
		width: 24px;
		height: 24px;
	}

	.twitter {
		width: 24px;
		height: 24px;
	}
}
