.reviews .swiper {
	height: 275px;
	margin-bottom: 32px;
	padding-top: 42px;
}

.reviews .swiper-slide {
	border-radius: 15px;
	height: 82%;
	margin-bottom: 20px;
}

.reviews-card {
	padding: 104px 18px 24px 18px;
	background-color: var(--white-text);
	border: 1px solid var(--border);
	box-shadow: 0px 9.04932px 26.5717px rgba(215, 228, 249, 0.25);
	border-radius: 15px;
	position: relative;
	height: 100%;
	margin-bottom: 32px;
}

.reviewer {
	width: 200px;
	margin: 0;
	position: absolute;
	left: 50%;
	top: -22%;
	transform: translateX(-50%);
}

/* @media screen and (max-width: 374px) {
	.reviewer {
		left: 14%;
	}
} */

.reviewer-photo {
	margin: 0 auto;
	margin-bottom: 18px;
	border-radius: 50%;
}

.reviewer-name {
	font-weight: 600;
	font-size: 18px;
	line-height: 1.33;
	text-align: center;
	color: var(--dark-text);
}

.reviews-card-text {
	font-size: 14px;
	line-height: 1.28;
	text-align: center;
	letter-spacing: -0.02em;
	text-align: center;
	color: var(--gray-text);
}

.reviews-swiper-pagination {
	position: absolute;
	bottom: 0;
	text-align: center;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	z-index: 10;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 6px;
}

.swiper-pagination-bullet {
	width: 13px;
	height: 13px;
	background-color: var(--border);
	opacity: 1;
}

.swiper-pagination-bullet-active {
	width: 28px;
	height: 13px;
	border-radius: 23%/50%;
	background: var(--brand-color);
}

@media screen and (min-width: 768px) {
	.reviews .swiper {
		height: 285px;
		margin-bottom: 50px;
	}

	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal {
		bottom: -2%;
	}
}
