/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url("./reset.css");
@import url("./header.css");
@import url("./mobile-menu.css");
@import url("./hero.css");
@import url("./advantages.css");
@import url("./unique-components.css");
@import url("./how-its-made.css");
@import url("./our-products.css");
@import url("./top-sellers.css");
@import url("./reviews.css");
@import url("./subscribe.css");
@import url("./footer.css");
@import url("./buy-now-modal.css");
@import url("./explore-modal.css");
@import url("./reviews-modal.css");
@import url("./reviews-swiper.css");
@import url("./login.css");
@import url("./scroll-up.css");

:root {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 400;

	color: var(--dark-text);
	background-color: rgba(255, 255, 255, 0.87);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;

	--dark-text: rgba(17, 17, 17, 1);
	--gray-text: rgba(17, 17, 17, 0.7);
	--white-text: rgba(255, 255, 255, 1);
	--dark-background: rgba(30, 24, 35, 1);
	--light-background: rgba(250, 250, 250, 1);
	--brand-color: rgba(253, 146, 34, 1);
	--placeholder: rgba(64, 64, 64, 0.3);
	--pressed-state: rgba(252, 241, 224, 1);
	--list-point: rgba(76, 76, 76, 1);
	--list-point-border: rgba(236, 237, 237, 1);
	--border: rgba(17, 17, 17, 0.1);
	--input-border: rgba(17, 17, 17, 0.05);
	--input-name: rgba(0, 0, 0, 1);
	--advantage-text: rgba(255, 255, 255, 0.7);
	--scroll: rgba(14, 10, 247, 0.9);
	--backdrop: rgba(246, 207, 140, 0.8);
}

.container {
	padding: 0 20px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

body.modal-open {
	overflow: hidden;
}

@media screen and (min-width: 375px) {
	.container {
		width: 375px;
	}
}

@media screen and (min-width: 768px) {
	.container {
		width: 768px;
		padding: 0 32px;
	}
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* body {
	overflow-x: hidden;
} */
