.top-sellers {
	background-color: var(--light-background);
}

.top-sellers-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-sellers-title {
	text-align: center;
	margin-bottom: 32px;
	letter-spacing: -0.03em;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
}

.top-sellers-text {
	font-size: 14px;
	line-height: 1.28;
	letter-spacing: -0.02em;
	padding-top: 20px;
	padding-bottom: 32px;
}

.buy-now-button {
	width: 120px;
	color: var(--white-text);
	background-color: var(--brand-color);
	border-radius: 100px;
	border: 0;
	padding: 12px 28px;
	font-weight: 600;
	font-size: 14px;
	line-height: 17px;
	font-family: "Montserrat", sans-serif;
	margin: 20px auto;
}

.top-sellers-content li:nth-child(4) {
	display: none;
}

@media screen and (min-width: 768px) {
	.top-sellers-content {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: center;
		column-gap: 16px;
	}

	.top-sellers-title {
		margin-bottom: 50px;
	}

	.top-sellers-content li:nth-child(2) {
		order: 1;
		width: 306px;
		padding-top: 32px;
	}

	.top-sellers-content li:nth-child(5) {
		order: 2;
		margin: 32px 0 0 auto;
	}
}

@media screen and (min-width: 1200px) {
	.top-sellers-text {
		width: 407px;
	}

	.top-sellers-content li:nth-child(4) {
		display: list-item;
	}
}
